@import (reference) "mixins";

.clickventure-container {
  .clearfix;

  min-height: 800px; // less hoppy for pages with large size differences
  position: relative;

  .clickventure-node {
    display: none;
    position: relative;

    &.clickventure-node-active {
      display: block;
    }

    .clickventure-node-image {

      > .image {
        width: 100%;

        > div {

          > img {
            position: relative;
          }
        }
      }

      > img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .clickventure-node-links {

      .clickventure-node-link {
        position: relative;

        &:not(.clickventure-node-link-float) {
          clear: both;
        }

        &.clickventure-node-link-float {
          float: left;
        }
      }
    }

    .clickventure-node-share {
      clear: both;
    }
  }
}
