clickventure-edit {
  display: flex;
  min-height: 600px;

  label {
    padding-right: 5px;
  }

  .clickventure-edit-col-1 {
    flex: 1;
    min-width: 250px;
  }

  .clickventure-edit-col-2 {
    flex: 3;
    min-width: 550px;
  }

  .clickventure-edit-node-list-tools {
    background-color: #c8c8c8;
    min-width: 35px;
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  .btn-link:hover {
    text-decoration: none;
  }

  .active button {
    color: white;
  }

  .node-text {
    height: auto;
  }

  .editor, .editorPlaceholder {
    padding: 0;
  }

  .form-button {
    margin-top: 25px;
  }
}
