<div class="clickventure-edit-col-1">
  <clickventure-edit-node-list></clickventure-edit-node-list>

  <div class="clickventure-edit-node-list-tools">
    <button
        class="btn btn-primary"
        ng-click="addNode()">
      <span class="fa fa-plus"></span>
      <span>New Page</span>
    </button>
    <button
        class="btn btn-default"
        ng-click="validateGraph()">
      <span class="fa fa-check"></span>
      <span>Run Check</span>
    </button>
  </div>
</div>

<div class="clickventure-edit-col-2">
  <clickventure-edit-node-toolbar article="article"></clickventure-edit-node-toolbar>
  <clickventure-edit-node node="data.nodeActive"></clickventure-edit-node>
</div>
