<div class="clickventure-edit-col-1">
  <clickventure-edit-node-list></clickventure-edit-node-list>

  <div class="clickventure-edit-node-list-tools">
    <button
        class="btn btn-primary"
        ng-click="addNode()">
      <span class="glyphicon glyphicon-plus"></span>
      <span>New Page</span>
    </button>
    <button
        class="btn btn-default"
        ng-click="validatePages()">
      <span class="glyphicon glyphicon-ok"></span>
      <span>Run Check</span>
    </button>
  </div>
</div>

<div class="clickventure-edit-col-2">
  <clickventure-edit-node-toolbar></clickventure-edit-node-toolbar>

  <clickventure-edit-node node="selectedNode"></clickventure-edit-node>
</div>
