############################
# compiled project garbage #
############################
src/django-bulbs-public/static/clickventure/styles/clickventure.css

##########
# python #
##########
*.pyc
*.egg-info

########
# node #
########
.tmp
dist
node_modules
bower_components

#######
# etc #
#######
.DS_Store
