language: node_js
node_js:
  - "5"
script: npm test -- --single-run
cache:
  directories:
    - bower_components
    - node_modules
before_script:
  - npm install
  - ./node_modules/.bin/bower install
