{% load betty %}

{% comment %}
This should be included with an include tag, with the following variables:
  - content <= the clickventure content object.
  - share_partial_template <= string path to a share partial, where the variable share_title
      will be passed in.
{% endcomment %}

<noscript>
  <marquee>
    <blink>This feature requires JavaScript to function.</blink>
  </marquee>
</noscript>
<div
    class="clickventure-container"
    data-track-category="Article: Clickventure">
  {% for node in content.nodes %}
    <div
        id="clickventure-node-{{ node.id }}"
        class="clickventure-node {% if node.start %}clickventure-node-start{% endif %} {% if node.finish %}clickventure-node-finish{% endif %}"
        data-node-name="{{ node.title }}"
        data-node-id="{{ node.id }}">
      <div class="clickventure-node-image">
        {% if node.photo_final %}
          <div
              class="image"
              data-type="image"
              data-image-id="{{ node.photo_final.id }}"
              data-crop="original">
            <div></div>
            <noscript>
              <img src="{% cropped_url node.photo_final.id ratio="original" %}">
            </noscript>
          </div>
        {% elif node.photo_placeholder_url and PREVIEW_TOOLS_ALLOWED %}
          <img src="{{ node.photo_placeholder_url }}" alt="{{ node.photo_placeholder_page_url }}">
          <div class="clickventure-node-image-stock">
            <div>
              <span class="fa fa-exclamation-triangle"></span>
              <span>Stock Photo</span>
            </div>
            {% if node.photo_placeholder_url %}
              <a
                  href="{{ node.photo_placeholder_url }}"
                  target="_blank">
                <span class="fa fa-external-link"></span>
                <span>Image Location</span>
              </a>
            {% endif %}
            {% if node.photo_placeholder_page_url %}
              <a
                  href="{{ node.photo_placeholder_page_url }}"
                  target="_blank">
                <span class="fa fa-external-link"></span>
                <span>Image Page</span>
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="clickventure-node-body">
        {{ node.body|safe }}
      </div>
      <div class="clickventure-node-links">
        {% for link in node.links %}
          <div
              class="clickventure-node-link {% if link.float %}clickventure-node-link-float{% endif %}"
              data-target-node="{{ link.to_node }}"
              data-transition="{{ link.transition }}">
            {% if node.finish %}
              {% include "clickventure/partials/link/action_finish.html" %}
            {% else %}
              {% with link_style=link.link_style|default:node.link_style %}
                {% if link_style %}
                  {% with "clickventure/partials/link/"|add:link_style|add:".html" as template_name %}
                    {% include template_name with action_index=forloop.counter %}
                  {% endwith %}
                {% else %}
                  {% include "clickventure/partials/link/action.html" with action_index=forloop.counter %}
                {% endif %}
              {% endwith %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if node.finish %}
      <div class="clickventure-node-finish-links">
        {% include "clickventure/partials/link/restart.html" %}
      </div>
      {% endif %}
      {% if node.shareable and node.finish and share_partial_template %}
        <div
            class="clickventure-node-share"
            data-track-action="Share Result">
          <div class="clickventure-node-share-title">
            Share {% if node.finish %}Your Results{% else %}This Page{% endif %}
          </div>
          <div class="clickventure-node-share-widget">
            {% include share_partial_template with share_title=node.share_text|add:" - "|add:content.title|safe %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
