<div
    class="container-fluid"
    ng-show="getActiveConfigPage() === configPage">
  <div
      class="form-group"
      ng-show="configPage.statuses.length > 0">
    <label for="configPageStatus">{{ configPage.title }} Status</label>
    <select
        id="configPageStatus"
        ng-model="selectedStatus"
        ng-change="setActiveNodeStatus()"
        class="form-control">
      <option value="">{{ configPage.statuses[0] }}</option>
      <option
          ng-repeat="status in configPage.statuses"
          ng-if="!$first"
          value="{{ status }}">
        {{ status }}
      </option>
    </select>
  </div>
  <ng-transclude></ng-transclude>
</div>
