<div
    class="container-fluid"
    ng-show="data.configPageActive === 'Settings'">

  <div class="row form-group">
    <div class="col-xs-8">
      <label for="nodePageName">Page Name (Internal Use)</label>
      <input
          id="nodePageName"
          class="form-control"
          placeholder="Page Name (Internal Use)"
          type="text">
    </div>
    <div class="col-xs-4">
      <button
          class="btn btn-primary"
          ng-click="cloneNode(node)">
        <i class="fa fa-copy"></i>
        <span>Clone Page</span>
      </button>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-xs-12">
      <label>Select Page Types</label>
    </div>

    <div class="col-xs-12 form-group">
      <button
          class="btn"
          ng-class="{
            'btn-info': node.start,
            'btn-default': !node.start
          }"
          ng-click="node.start = !node.start">
        <span
            class="fa"
            ng-class="{
              'fa-check-square-o': node.start,
              'fa-square-o': !node.start
            }">
        </span>
        <span>Start</span>
      </button>
      <button
          class="btn"
          ng-class="{
            'btn-info': node.finish,
            'btn-default': !node.finish
          }"
          ng-click="node.finish = !node.finish">
        <span
            class="fa"
            ng-class="{
              'fa-check-square-o': node.finish,
              'fa-square-o': !node.finish
            }">
        </span>
        <span>End</span>
      </button>
      <button
          class="btn"
          ng-class="{
            'btn-info': node.shareable,
            'btn-default': !node.shareable
          }"
          ng-click="node.shareable = !node.shareable">
        <span
            class="fa"
            ng-class="{
              'fa-check-square-o': node.shareable,
              'fa-square-o': !node.shareable
            }">
        </span>
        <span>Shareable</span>
      </button>
    </div>

    <div
        ng-show="node.shareable"
        class="col-xs-12">
      <label for="nodeShareText">Share Message</label>
      <input
          id="nodeShareText"
          class="form-control"
          placeholder="Page Name (Internal Use)"
          type="text">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-xs-6">
      <label>Inbound Links</label>
      <ul ng-show="data.view[node.id].inboundLinks.length > 0">
        <li ng-repeat="nodeId in data.view[node.id].inboundLinks">
          <a
              ng-bind-html="data.view[nodeId].node | clickventure_node_name"
              ng-click="selectNode(node)">
          </a>
        </li>
      </ul>
      <div ng-show="data.view[node.id].inboundLinks.length === 0">
        No inbound links yet, link a page to this one to make the first one.
      </div>
    </div>

    <div class="col-xs-6">
      <label>Sister Pages</label>
      <ul ng-show="node.sister_pages.length > 0">
        <li ng-repeat="nodeId in node.sister_pages">
          <a
              ng-bind-html="data.view[nodeId].node | clickventure_node_name"
              ng-click="selectNode(node)">
          </a>
        </li>
      </ul>
      <div ng-show="node.sister_pages.length === 0">
        No sister pages yet, clone this page to make the first one.
      </div>
    </div>
  </div>

  <div class="row col-xs-12 form-group">
    <button
        class="btn btn-danger"
        ng-click="deleteNode(node)">
      <i class="fa fa-trash-o"></i>
      <span>Delete Page</span>
    </button>
  </div>
</div>
