<div
    class="container-fluid"
    ng-show="data.configPageActive === 'Copy'">

  <div class="row col-xs-12">
    <label>Page Body</label>
    <onion-editor
        ng-model="node.body"
        role="multiline"
        placeholder="Body (displays on site)">
    </onion-editor>
  </div>

  <div class="row col-xs-12">
    <div>
      <label>Links</label>

      <div class="form-group">
        <label for="nodeDefaultLinkStyle">Default Link Style</label>
        <select
            id="nodeDefaultLinkStyle"
            class="form-control"
            ng-options="style.toLowerCase() as style for style in linkStyles"
            ng-model="node.link_style">
        </select>
      </div>

      <button
          class="btn btn-success"
          ng-click="addLink(node)">
        <span class="fa fa-plus"></span>
        <span>Add Link</span>
      </button>
    </div>

    <div
        ng-repeat="link in node.links"
        ng-init="linkOpen = false"
        class="clearfix panel panel-default">
      <div
          class="panel-heading"
          ng-click="linkOpen = !linkOpen">
        <h4 class="panel-title">
          <span
              class="fa fa-caret-right"
              ng-class="{
                'fa-caret-right': !linkOpen,
                'fa-caret-down': linkOpen
              }">
          </span>
          <span>Link</span>
          <div class="btn-group pull-right">
            <button
                class="btn btn-link btn-xs"
                ng-click="reorderLink(node, $index, $index + 1)"
                ng-disabled="$last">
              <span class="fa fa-chevron-down"></span>
            </button>
            <button
                class="btn btn-link btn-xs"
                ng-click="reorderLink(node, $index, $index - 1)"
                ng-disabled="$index === 0">
              <span class="fa fa-chevron-up"></span>
            </button>
          </div>
        </h4>
      </div>
      <div
          class="panel-body"
          ng-show="linkOpen">
        <clickventure-edit-link
            node="node"
            link="link">
        </clickventure-edit-link>
      </div>
    </div>
  </div>
</div>
