<div
    class="container-fluid"
    ng-show="data.configPageActive === 'Copy'">

  <div class="row">
    <div class="col-xs-12">
      <label>Page Body</label>
      <onion-editor
          ng-model="node.body"
          role="multiline"
          placeholder="Body (displays on site)">
      </onion-editor>
    </div>
  </div>

  <div class="row">
    <h4 class="col-xs-12">Links</h4>

    <div class="form-group col-xs-4">
      <button
          class="btn btn-success"
          ng-click="addLink(node)">
        <span class="fa fa-plus"></span>
        <span>Add Link</span>
      </button>
    </div>

    <div class="form-group col-xs-8">
      <div class="form-inline pull-right">
        <label for="nodeDefaultLinkStyle">Default Link Style</label>
        <select
            id="nodeDefaultLinkStyle"
            class="form-control"
            ng-options="style.toLowerCase() as style for style in linkStyles"
            ng-model="node.link_style">
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <ol
        class="col-xs-12"
        ng-show="node.links.length > 0">
      <li
          ng-repeat="link in node.links"
          ng-init="linkOpen = false"
          class="clearfix panel panel-default">
        <div class="panel-heading">
          <button
              class="btn btn-link btn-xs panel-title"
              ng-click="linkOpen = !linkOpen">
            <span
                class="fa fa-caret-right"
                ng-class="{
                  'fa-caret-right': !linkOpen,
                  'fa-caret-down': linkOpen
                }">
            </span>
            <span>
              <span ng-show="link.body.length > 0">
                <span>{{ link.body | limitTo:25 }}</span><span ng-show="link.body.length > 25">...</span>
              </span>
              <span ng-show="link.body.length === 0">Link {{ $index + 1 }}</span>
            </span>
            <span
                class="fa fa-exclamation-circle text-danger"
                ng-show="!link.to_node">
            </span>
          </button>
          <div class="btn-group pull-right">
            <button
                class="btn btn-link btn-xs"
                ng-click="reorderLink(node, $index, $index + 1)"
                ng-disabled="$last">
              <span class="fa fa-chevron-down"></span>
            </button>
            <button
                class="btn btn-link btn-xs"
                ng-click="reorderLink(node, $index, $index - 1)"
                ng-disabled="$index === 0">
              <span class="fa fa-chevron-up"></span>
            </button>
          </div>
        </div>
        <div
            class="panel-body"
            ng-show="linkOpen">
          <clickventure-edit-link
              node="node"
              link="link">
          </clickventure-edit-link>
        </div>
      </li>
    </ol>
    <div
        class="col-xs-12"
        ng-show="node.links.length === 0">
      No outbound links yet, click "Add Link" to add the first one.
    </div>
  </div>
</div>
