<div class="clickventure-edit-node-toolbar-title">
  Edit
</div>
<div class="clickventure-edit-node-toolbar-view btn-group">
  <button
      ng-repeat="title in data.configPages"
      ng-click="changeConfigPage(title)"
      ng-class="{
        'btn-default': data.configPageActive !== title,
        'btn-primary': data.configPageActive === title
      }"
      class="btn">
    {{ title }}
  </button>
</div>
<div class="clickventure-edit-node-toolbar-preview">
  <a
      class="btn btn-link text-primary"
      target="_blank"
      href="/r/{{ article.id }}#{{ selectedNode.id }}">
    <i class="fa fa-share"></i>
    <span>Preview Page</span>
  </a>
</div>
