<div class="clickventure-link">
  <div class="form-group form-group">
    <label for="linkText{{ uuid }}">Link Content</label>
    <textarea
        id="linkText{{ uuid }}"
        type="text"
        class="clickventure-textarea-vertical form-control"
        ng-model="link.body"
        placeholder="Link Content (displays on site)">
    </textarea>
  </div>

  <div class="row form-group">
    <div
        class="col-xs-8"
        ng-class="{'has-error': !link.to_node}">
      <label
          class="control-label"
          for="linkTo{{ uuid }}">
        <span>Link To</span>
        <clickventure-edit-icon-error
            ng-show="!link.to_node"
            error-text="This link doesn't link to another page!">
        </clickventure-edit-icon-error>
      </label>
      <autocomplete-basic
          class="form-control"
          ng-model="link.to_node"
          item-display-formatter="nodeDisplay(item)"
          item-value-formatter="item"
          input-placeholder="Page number or title"
          initial-value="nodeDisplay(link.to_node)"
          search-function="searchNodes">
      </autocomplete-basic>
    </div>
    <div class="col-xs-4">
      <button
          class="btn btn-success form-button"
          ng-click="openAddPageModal(link)">
        <span class="fa fa-plus"></span>
        <span>Link New Page</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <label for="linkStyle{{ uuid }}">Style</label>
      <select
          id="linkStyle{{ uuid }}"
          class="form-control"
          ng-options="style.toLowerCase() as style for style in linkStyles"
          ng-model="link.link_style">
      </select>
    </div>
    <div class="col-xs-3">
      <button
          class="btn form-button"
          ng-class="{
            'btn-info': link.float,
            'btn-default': !link.flaot
          }"
          ng-click="link.float = !link.float">
        <span
            class="fa"
            ng-class="{
              'fa-check-square-o': link.float,
              'fa-square-o': !link.float
            }">
        </span>
        <span>Float Link</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button
          class="btn btn-danger form-button"
          ng-click="deleteLink(node, link)">
        <span class="fa fa-trash-o"></span>
        <span>Delete Link</span>
      </button>
    </div>
  </div>
</div>
