<div class="clickventure-link">
  <div class="form-control form-group node-text">
    <onion-editor
        ng-model="link.body"
        role="singleline"
        formatting="bold,italic,strike"
        placeholder="Body">
    </onion-editor>
  </div>
  <div class="row">
    <label class="col-xs-4">
      <span>To page:</span>
      <select
          class="form-control"
          ng-model="link.to_node"
          ng-options="node.id as node.title || node.id for node in nodeData.nodes">
      </select>
    </label>
    <label class="col-xs-3">
      <span>Transition:</span>
      <select
          class="form-control"
          ng-model="link.transition"
          ng-options="transition for transition in nodeTransitions">
      </select>
    </label>
    <label class="col-xs-3">
      <span>Style:</span>
      <select
          class="form-control"
          ng-options="style.toLowerCase() as style for style in linkStyles"
          ng-model="link.link_style">
      </select>
    </label>
    <label class="col-xs-2">
      <span>Float:</span>
      <input
          type="checkbox"
          class="form-control"
          ng-model="link.float">
    </label>
  </div>

  <button
      class="btn btn-link"
      ng-click="deleteLink(node, link)">
    <span class="text-danger">
      <span class="fa fa-trash-o"></span>
      <span>Delete Link</span>
    </span>
  </button>
</div>
