clickventure-edit-node-list-node {
  background-color: #ffffff;
  border: 3px #e0e0e0 solid;
  display: flex;
  font-size: 12px;
  max-height: 75px;
}
clickventure-edit-node-list-node.clickventure-edit-node-list-node-active {
  border: 3px #288fc7 solid;
}
clickventure-edit-node-list-node.clickventure-edit-node-list-node-active .clickventure-edit-node-list-node-status {
  background-color: #288fc7;
}
clickventure-edit-node-list-node .clickventure-edit-node-list-node-status {
  background-color: #e0e0e0;
  flex-basis: 10%;
  flex-grow: 1;
}
clickventure-edit-node-list-node .clickventure-edit-node-list-node-status.clickventure-edit-node-list-node-status-start {
  background-color: #d2e7f7;
}
clickventure-edit-node-list-node .clickventure-edit-node-list-node-status.clickventure-edit-node-list-node-status-finish {
  background-color: #e0fad4;
}
clickventure-edit-node-list-node .clickventure-edit-node-list-node-title {
  flex-basis: 75%;
  flex-grow: 8;
  overflow: hidden;
  padding: 5px;
}
clickventure-edit-node-list-node .clickventure-edit-node-list-node-tools {
  border-left: 1px #e0e0e0 solid;
  flex-basis: 15%;
  flex-grow: 1;
}

clickventure-edit-node-list {
  display: block;
  height: 556px;
  width: 250px;
}
clickventure-edit-node-list ol {
  background-color: #ebebeb;
  height: 100%;
  margin-bottom: 0;
  overflow-y: scroll;
  padding: 10px;
}
clickventure-edit-node-list ol li {
  display: block;
  margin-bottom: 10px;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node {
  cursor: pointer;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node input {
  text-align: center;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node .clickventure-edit-node-list-node-tools-item {
  width: 100%;
}

clickventure-edit-node-toolbar {
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-title {
  min-height: 34px;
  min-width: 50px;
  padding: 6px;
  vertical-align: inherit;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-view {
  display: flex;
  flex-wrap: nowrap;
  min-width: 200px;
  text-align: center;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-preview {
  margin-left: auto;
  min-height: 34px;
  min-width: 120px;
}

clickventure-edit-node-copy {
  display: block;
  padding-top: 10px;
}
clickventure-edit-node-copy ol {
  list-style: none;
}
clickventure-edit-node-copy .panel {
  margin-bottom: 0;
}
clickventure-edit-node-copy .panel .panel-heading {
  cursor: default;
}
clickventure-edit-node-copy .panel .panel-title {
  text-decoration: none;
}
clickventure-edit-node-copy .editor-wrapper .editor div[data-type="image"] > div {
  background-size: 100%;
}

clickventure-edit-node-settings {
  display: block;
  padding-top: 10px;
}
clickventure-edit-node-settings ul {
  padding-left: 25px;
}

clickventure-edit-node {
  display: block;
  height: 566px;
  overflow-y: scroll;
}
clickventure-edit-node .panel .panel-heading {
  padding: 6px 7px 6px 10px;
}

clickventure-edit {
  display: flex;
  height: 600px;
}
clickventure-edit label {
  padding-right: 5px;
}
clickventure-edit .clickventure-edit-col-1 {
  flex: 1;
  height: 100%;
  min-width: 250px;
}
clickventure-edit .clickventure-edit-col-2 {
  flex: 3;
  height: 100%;
  min-width: 550px;
}
clickventure-edit .clickventure-edit-node-list-tools {
  background-color: #c8c8c8;
  min-width: 35px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
clickventure-edit .btn-link:hover {
  text-decoration: none;
}
clickventure-edit .active button {
  color: white;
}
clickventure-edit .node-text {
  height: auto;
}
clickventure-edit .editor,
clickventure-edit .editorPlaceholder {
  padding: 0;
}
clickventure-edit .form-button {
  margin-top: 25px;
}
