clickventure-edit {
  .clickventure {
    min-height: 600px;

    .active button {
      color: white;
    }

    .node-text {
      height: auto;
    }

    .editor, .editorPlaceholder {
      padding: 0;
    }
  }
}
