clickventure-edit-node-copy {
  display: block;
  padding-top: 10px;

  ol {
    list-style: none;
  }

  .panel {
    margin-bottom: 0;

    .panel-heading {
      cursor: default;
    }

    .panel-title {
      text-decoration: none;
    }
  }

  .editor-wrapper .editor div[data-type="image"] > div {
    background-size: 100%;
  }
}
