clickventure-edit-node-list ol {
  background-color: #ebebeb;
  margin-bottom: 0;
  min-width: 300px;
  max-height: 600px;
  overflow-y: scroll;
  padding: 10px;
}
clickventure-edit-node-list ol li {
  display: block;
  margin-bottom: 10px;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node {
  cursor: pointer;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node .clickventure-edit-node-list-node-tools-item {
  width: 100%;
}
