clickventure-edit-node-toolbar {
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-title {
  min-height: 34px;
  min-width: 50px;
  padding: 6px;
  vertical-align: inherit;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-view {
  display: flex;
  flex-wrap: nowrap;
  min-width: 200px;
  text-align: center;
}
clickventure-edit-node-toolbar .clickventure-edit-node-toolbar-preview {
  margin-left: auto;
  min-height: 34px;
  min-width: 120px;
}
