clickventure-edit {
  min-height: 600px;

  .clickventure-edit-node-list-tools {
    background-color: #c8c8c8;
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  .active button {
    color: white;
  }

  .node-text {
    height: auto;
  }

  .editor, .editorPlaceholder {
    padding: 0;
  }
}
