clickventure-edit .clickventure {
  min-height: 600px;
}
clickventure-edit .clickventure .active button {
  color: white;
}
clickventure-edit .clickventure .node-text {
  height: auto;
}
clickventure-edit .clickventure .editor,
clickventure-edit .clickventure .editorPlaceholder {
  padding: 0;
}
