clickventure-edit-node-copy {
  display: block;
  padding-top: 10px;
}
clickventure-edit-node-copy ol {
  list-style: none;
}
clickventure-edit-node-copy .panel {
  margin-bottom: 0;
}
clickventure-edit-node-copy .panel .panel-heading {
  cursor: default;
}
clickventure-edit-node-copy .panel .panel-title {
  text-decoration: none;
}
clickventure-edit-node-copy .editor-wrapper .editor div[data-type="image"] > div {
  background-size: 100%;
}
