clickventure-edit-node-list {
  display: block;
  height: 556px;
  width: 250px;
}
clickventure-edit-node-list ol {
  background-color: #ebebeb;
  height: 100%;
  margin-bottom: 0;
  overflow-y: scroll;
  padding: 10px;
}
clickventure-edit-node-list ol li {
  display: block;
  margin-bottom: 10px;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node {
  cursor: pointer;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node input {
  text-align: center;
}
clickventure-edit-node-list ol li clickventure-edit-node-list-node .clickventure-edit-node-list-node-tools-item {
  width: 100%;
}
