@import (reference) "clickventure-variables";
// default mixins
@import (reference) "clickventure-mixins";
// custom clickventure styling, included with sheet
@import (optional) "clickventure-custom";

.clickventure-container {
  .clearfix;

  min-height: 800px; // less hoppy for pages with large size differences
  position: relative;

  .clickventure-node {
    display: none;
    position: relative;

    &.clickventure-finish {
      background: @finish-color-background;
      color: @finish-color-text;
      padding: 20px;

      .clickventure-restart {
        background: @finish-restart-color-background;
        border: @finish-restart-border;
        color: @finish-restart-color-text;
        margin: 20px 0 0;

        &:hover {
          background: @finish-restart-hover-color-background;
          color: @finish-restart-hover-color-text;
        }
      }
    }

    .clickventure-node-body {
      margin-bottom: 20px;

      >:first-child {
        margin-top: 0;
      }
    }

    .clickventure-node-links {
      .clearfix;

      .clickventure-node-link {
        cursor: pointer;
        display: none;
        padding: 0 auto;

        &.clickventure-float {
          float: left;
        }

        .clickventure-action {
          .standard-action-mixin;

          &:hover {
            background-color: @action-hover-color-background;
          }

          &.clickventure-action-finish {
            background-color: @finish-action-color-background;
            border: @finish-action-border;
            color: @finish-action-color-text;
            margin: 5px 0;
            padding: 7px 10px;
          }
        }

        .clickventure-music {
          .standard-action-mixin;
        }

        .clickventure-quiz {
          .standard-action-mixin;

          text-decoration: none;
          vertical-align: middle;
          width: 100%;

          &:first-child {
            margin-top: 0;
          }
        }

        .clickventure-word-bubble {
          .BorderRadius(10px, 10px, 10px, 10px);

          background-color: @action-dialog-color-background;
          clear: both;
          float: left;
          margin: 0 0 30px;
          padding: 7px 15px;
          position: relative;

          &:hover {
            background-color: @action-dialog-hover-color-background;

            &:after {
              border-color: @action-dialog-hover-color-background transparent;
            }
          }

          /* creates triangle */
          &:after {
            @border-width-bottom: 15px;
            @border-width-top: 0;

            border-color: @default-color-main transparent;
            border-style: solid;
            border-width: @border-width-top 15px @border-width-bottom 0;
            bottom: 0 - @border-width-bottom;
            content: "";
            display: block;
            left: @border-width-top - @border-width-bottom;
            position: absolute;
            width: 0;
          }
        }
      }
    }

    .clickventure-node-share {

      .share {
        margin-bottom: 0 !important;
      }

      .share-title {
        margin: 20px 0 0;
        text-transform: uppercase;
      }
    }
  }
}
